/* Général */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background-color: #e9edf3;
  line-height: 1.6;
}

/* Liens */
a {
  color: #2c3e50;
  text-decoration: none;
}

a:hover {
  color: #377caa;
  text-decoration: underline;
}

/* En-tête */
header {
  background: linear-gradient(#5892b5);
  color: white;
  padding: 4rem 1rem;
  text-align: center;
}

header h1 {
  font-size: 3.5rem;
  margin: 0; 
}


/* Navigation */
nav {
  background-color: #f0f0f0;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

nav a {
  margin: 0 12px;
  font-size: 17px;
  font-weight: bold;
  transition: color 0.3s;
}

/* Sections */
section {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Titres */
h2 {
  font-size: 26px;
  margin-top: 2.5rem;
  color: #2c3e50;
  border-bottom: 2px solid #539aaa;
  padding-bottom: 0.5rem;

}


/* Projets */
.projets {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projet {
  background-color: rgba(204, 220, 230, 0.57);
  padding: 1.5rem;
  border-radius: 10px;
  border-left: 5px solid #2980b9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.projet h3 {
  font-size: 20px;
  margin-bottom: 1rem;
  color: #2c3e50;
}

/* Détails toggle */
.toggle-checkbox {
  display: none;
}

.toggle-btn {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: bold;
  color: #2980b9;
  cursor: pointer;
}

.details {
  display: none;
  margin-top: 1rem;
  color: #555;
}

.toggle-checkbox:checked + .toggle-btn + .details {
  display: block;
}

/* Images */
.projet img {
  max-width: 50%;
  height: 200px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 14px;
  color: #666;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  margin-top: 3rem;
}
